<div style="background: blue; padding: 15px;">
    <nav class="nav">
        <a class="nav-link" style="color: cornsilk; font-size: x-large; float:right">Subscribe</a>
        <a class="nav-link" routerLink="/" style="color: cornsilk; font-size: x-large; float:right">Home</a>
        <a class="nav-link" routerLink="/add-product" style="color: cornsilk; font-size: x-large; float:right">AddProduct</a>
        <a class="nav-link" routerLink="/get-product" style="color: cornsilk; font-size: x-large; float:right">AllProducts</a>
        <a class="nav-link" routerLink="/data-from-json" style="color: cornsilk; font-size: x-large; float:right">dataFromJson</a>
    </nav>
    </div>
