<div style="background: blue; padding: 15px;">
    <nav class="nav">
        <a class="nav-link" style="color: cornsilk; font-size: x-large; float: left;">Tech Elevate</a>
        <a class="nav-link" routerLink="" style="color: cornsilk; font-size: x-large; float: left;">Home</a>
        <a class="nav-link" routerLink="/login" style="color: cornsilk; font-size: x-large; float:right" >Login</a>
        <a class="nav-link" routerLink="/register" style="color: cornsilk; font-size: x-large; float:right">Register</a>
        <a class="nav-link" routerLink="/form" style="color: cornsilk; font-size: x-large; float:right">FormBuilder</a>

    </nav>
    </div>
    
