<div style="background: blue; padding: 15px;">
<nav class="nav">
    <a class="nav-link" style="color: cornsilk; font-size: x-large;">Tech Elevate</a>
    <a class="nav-link" routerLink="" style="color: cornsilk; font-size: x-large;">Home</a>
    <a class="nav-link" routerLink="/cars" style="color: cornsilk; font-size: x-large;">Cars</a>
    <a class="nav-link" routerLink="/bikes" style="color: cornsilk; font-size: x-large;">Bikes</a>
    <a class="nav-link" routerLink="/movies" style="color: cornsilk; font-size: x-large;">Movies</a>
    <a class="nav-link" routerLink="/laptops" style="color: cornsilk; font-size: x-large;">Laptops</a>
    <a class="nav-link" routerLink="/mobiles" style="color: cornsilk; font-size: x-large;">Mobiles</a>
    <a class="nav-link" routerLink="/parent" style="color: cornsilk; font-size: x-large;">Parent</a>

</nav>
</div>








<!-- <ul class="nav">
    <li class="nav-item ">
        <a class="nav-link active" routerLink="#">Directives</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/late-comers">LateComers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/images">Images</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/parent">parent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/bikes">bikes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/cars">cars</a>
    </li>
</ul> -->